#im1{
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 0px;
    z-index: 0;
}

.imgs{
    position: absolute;
    max-width: 190%;
    max-height: 190%;
    right: -50%;
    top: 0px;
    filter: blur(0.2px) grayscale(2);


}
.imgs:hover{
    filter: blur(0px) grayscale(0);
    transition: 1s;
    -moz-transform: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: scale(1.2);
    -webkit-transform: scale(1.05);
}

.circle:hover{
    transition: 1s;
    transform: scale(1.06);
}


.redesociais{
    display: inline-flex;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 20px;
}

.menu{
    display: inline-flex;
    float: left;
    margin-right: 10px;
    top: 25px;
    position: relative;
}

.icos{
    width: 50px;
    position: relative;

}

.icos-2{
    width: 30px;
    position: relative;
    margin-right: 10px;
}

#by{
    position: absolute;
    top: 365px;
    left: 29px;
    text-align: left;
    z-index: 5;
    color: rgba(0, 0, 0, 0.555);
    font-family: 'Montserrat';
    text-shadow: rgba(0, 0, 0, 0.486) 0px 0px 1px;
    font-size: 10px;
    z-index: 2;
}

@media only screen and (max-width: 600px){
    .mini{
        font-size: 15px;
        top: -8px;
        left: -30px;
        margin: 5px;
        border-bottom: rgba(255, 255, 255, 0) 2px solid;
        padding-bottom: 15.6px;
    }
    .mini:hover{
        font-size: 15px;
        top: -8px;
        left: -30px;
        margin: 5px;
        transition: 0.6s;
        border-bottom: rgb(0, 238, 255) 2px solid;
        padding-bottom: 15.6px;

    }

    .mini-2{
        color: rgb(255, 255, 255);
        position: relative;
        top: -8px;
        cursor: pointer;
        float: right;
        margin-left: 20px;
        border-bottom: rgba(109, 139, 141, 0) 2px solid;
        padding-bottom: -40px;
    }
    
    .mini-2:hover{
        filter: invert(0.3);
        transition: 0.2s;
        position: relative;
    
    }

    .icos-2{
        width: 24px;
        bottom: 45px;
        left: 10px;
        margin-left: -10px;
        border-bottom: transparent 2px solid;

    }

    .icos-2:hover{
        border-bottom: rgb(0, 238, 255) 2px solid;
        padding-bottom: 17.5px;
    }

    #ap{
        color: transparent;
        font-size: 0px;
    }
    #txt-init{/*Texto grande inicial*/
        position: relative;
        text-align: center;
        font-family: Helvetica, sans-serif;
        color: rgb(31, 31, 31);
        font-size: 100px;
        margin: 0;
        padding: 10px;
        z-index: 2;
        cursor: default;
        top: 90px;
    }

}
