#im1{
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 0px;
    z-index: 0;
}

.imgs{
    position: absolute;
    text-align: center;
    display: flex;
    max-width: 190%;
    max-height: 190%;
    right: -50%;
    top: 0px;

}

.redesociais{
    display: inline-flex;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 20px;
}

.menu{
    display: inline-flex;
    float: left;
    margin-right: 10px;
    top: 25px;
    position: relative;
}

.icos{
    width: 50px;
    position: relative;

}

.icos-2{
    width: 30px;
    position: relative;
    margin-right: 10px;
}

#by{
    position: absolute;
    top: 365px;
    left: 20px;
    text-align: left;
    z-index: 5;
    color: rgba(255, 255, 255, 0.555);
    font-family: 'Comfortaa';
    text-shadow: rgba(102, 102, 102, 0.486) 0px 0px 5px;
    font-size: 15px;
    z-index: 2;
}

@media only screen and (max-width: 600px){
    .mini{
        font-size: 15px;
        top: -8px;
        left: -30px;
        margin: 5px;
    }
    .icos-2{
        width: 24px;
        bottom: 20px;
        left: 10px;
        margin-left: -10px;
    }
    #ap{
        color: transparent;
        font-size: 0px;
    }
}
