#im1{
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 0px;
    z-index: 0;
}

.imgs{
    position: absolute;
    text-align: center;
    display: flex;
    max-width: 190%;
    max-height: 190%;
    right: -50%;
    top: 0px;

}

.redesociais{
    display: inline-flex;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 20px;
}

.menu{
    display: inline-flex;
    float: left;
    margin-right: 10px;
    top: 25px;
    position: relative;
}

.icos{
    width: 50px;
    position: relative;

}

.icos-2{
    width: 30px;
    position: relative;
    margin-right: 10px;
}

