#im1{
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 0px;
    z-index: 0;
}

.imgs{
    position: absolute;
    text-align: center;
    display: flex;
    max-width: 190%;
    max-height: 190%;
    right: -50%;
    top: 0px;

}

ul, li > .redesociais{
    display: inline-flex;
}

.icos{
    width: 50px;
    position: relative;

}


